body{
	margin: 0px;
	height: 100vh;
}
h1{
	text-align: center;
	color: white;
	font-size: 4.5rem;
	font-family: verdana;
}

h2{
	text-align: center;
	font-size: 2.5rem;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: white;
	text-decoration: none;	
}
a:active{
	color: white;
	text-decoration: none;
}
a:focus{
	color: white;
	text-decoration: none;
}
#container{
	height: 100%;
	display: grid;
	grid-template-areas: 
		'header'
		'main'
		'ad'
		'footer';
	grid-gap: 1px;
	grid-template-rows:  10% auto 10% 10%;
}
#header{
	grid-area: header;
	width: 100%;
	background-image: url("background.jpg");
	margin-bottom: 1%;
}
#main{
	grid-area: main;
}
.main__progressbar{
	margin-left: 5%;
	margin-right: 5%;
}
progress[value]{
	margin:0%;
	height: 30px;
	width: 100%;
  	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-bar {
  background-color: #FFF;
  border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-color: #F39237; 
  width: 100%; 
  background-image: linear-gradient(
        45deg, #F2C037 25%, 
        transparent 25%, transparent 50%, 
        #F2C037 50%, #F2C037 75%,
        transparent 75%, transparent); 
  animation: progressAnimationStrike 6s;
  transition: 0.4s linear;  
  transition-property: width, background-color;  
 
}
#main__menu{
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	margin-top: 20%;
	height: 60%;
	
}
.menu__container{
	padding-top: 10%;
	height: 60%;
	display: grid;
	grid-template-areas: 
		'form'
		'form2'
		'button';
	justify-content: center;
	grid-template-rows:  auto auto 40%;
}
.menu__container > h2{
	margin-top: 10%;
}
.menu__form{
	grid-area: 'form';
	margin-top: 5%;	
}
.menu__form2{
	margin-top: 5%;
	grid-area: 'form2';
}
.menu__form2 > select{
	font-size: 2rem;
	border-radius: 10px;
	background-color: #4B77D1;
	color: white;
	padding: 30px;
}
.menu__form > form > select{
	font-size: 2.5rem;
	border-radius: 10px;
	background-color: #4B77D1;
	color: white;
	padding: 30px;
}
.menu__container> button{
	grid-area: 'button';
	background-color: #F2C037;
	border-radius: 10px;
	font-size: 2.5rem;
	font-weight: bold;
	color: white;
	padding: 30px;
	margin-bottom:  20%;
}
#main__quiz{

}
.quiz__renderbody{
	/*margin-top: 5%;
	height: 5%;*/
	margin-left: 15%;
}
.main__choicebox{
	margin-top: 10%;
	display: grid;
	grid-template-columns: 40% 40%;
	grid-template-rows: 110% 110%;
	grid-template-areas: 
		'B1 B2'
		'B3 B4';
	grid-gap: 5px;
	justify-content: center;
}
.main__choicebox>button{
	background-color: #4B77D1;
	border-radius: 10px;
	font-size: 3rem;
	color: white;
}
.main__choicebox--redLine{
	border: red 2px solid;
	border-radius: 10px;
}
.main__choicebox>button:active{
	font-weight: bold;
	background-color: #F2C037;
}
.choiceButton1{grid-area: B1}
.choiceButton2{grid-area: B2}
.choiceButton3{grid-area: B3}
.choiceButton4{grid-area: B4}

#main__statistic{
	height: 70%;
}
#statistic__container{
	margin-top: 10%;
	display: grid;
	height: 100%;
	grid-template-areas: 
		'paragraph'
		'span'
		'span'
		'button';
	grid-template-rows: 30% auto auto 10%;
	justify-content: center;
}
#statistic__container > h2{
	grid-area: paragraph;
}
#statistic__container > span{
	grid-area: span;
	text-align: center;
	font-size: 3rem;
}
.statistic__button{
	grid-area: button;
	background-color: #4B77D1;
	border-radius: 10px;
	font-size: 3rem;
	color: white;
}
.statistic__button:active{
	background-color: #F2C037;
}
#ad{
	grid-area: ad;
	/*background-image: url(uglyAd.png);*/
	margin-bottom: 1%
}
#footer{
	border-top: 1px solid grey;
	grid-area: footer;
}
#footer > ul > li{
	font-size: 3rem;
	margin-right: 2%;
	display: inline-block;
	list-style-type: none;
}
#footer > ul > li > a{
	color: black;
	text-decoration: none;
}
#footer > ul > li > a:hover{
	font-weight: bold;
}
#footer > ul > li > button{
	background-color: #4B77D1;
	border-radius: 10px;
	font-size: 1.5rem;
	color: white;
	padding: 10%;
}
.hidden{display: none;}


@media only screen and (min-width: 1000px){
	h1{
		margin-left: 5%;
		text-align: left;
		font-size: 2rem;
	}
	#container{

		grid-template-areas: 
			'header header'
			'main ad'
			'footer footer';
		grid-template-columns: auto 20%;
		grid-template-rows: 10% auto 10%;
	}
	#header{
		margin-bottom: 0%;
	}
	#main__menu{
		margin-top: 5%;
	}
	.menu__container{
		padding-top: 0%;
	}
	.menu__container>h2{
		margin-top: 0%;
	}
	.menu__container>button{
		font-size: 1.0rem;
		padding: 10px;
	}
	.menu__form{
		margin-top: 0%;
	}
	.menu__form > form > select{
		font-size: 1rem;
		padding: 10px;
	}
	#main__quiz>h2{
		font-size: 1.0rem;
	}
	.quiz__renderbody{
		margin-top: 0%;
	}
	progress[value]{
		height: 15px;
	}
	.main__choicebox{
		margin-top: 5%;
		grid-template-columns: 20% 20%;
		grid-template-rows: 100% 100%;
	}
	.main__choicebox>button{
		font-size: 1.0rem;


	}
	#statistic__container{
		margin-top: 5%;
	}
	#statistic__container>h2{
		font-size: 1.5rem;
	}
	.statistic__button{
		font-size: 1.0rem;
	}
	#ad{
		border-left: 1px grey solid;
	}
	#footer > ul > li{
		font-size: 1.0rem;
		margin-left: 10%;
	}
	#footer > ul > li>button{
		font-size: 1.0rem;
		padding: 2px;
	}

}